<div class="navigationList">
<div class="row-fluid">
	<div class="span2">
		<ul class="nav nav-list">
			<li class="nav-header">Administration</li>
			<li><a href="#">Home</a></li>
			<li><a href="#">Posts</a></li>
			<li><a href="#">New Post</a></li>
		</ul>
	</div>
	
</div>
</div>