

<%@posts.each do |post|%>

<div class="entry">

<div class="row-fluid">
	<div class="span12">
		<h3><%=post.title%></h3>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<%=image_tag(post.featured_image)%>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<p class="entry_text">
			<%= post.content%>
		</p>
	</div>
</div>
</div>
<%end%>
<%= paginate @posts%>