<% set_meta_tags :description => "Untitled Art Blog serves as a guidebook, blog, and resource for contemporary art."%>
<h3>Mission Statement</h3>
<p>Founded June 2013 by Sammy Benalia, <b>Untitled Art Blog</b> serves as a guidebook, blog, and resource for contemporary art. Its main goal is to provide the highest quality information and ideas to readers, collectors and artists about current art trends and themes.</p> 