<h3>Mission Statement</h3>
<p>
Style isn’t fashion is a weblog, guidebook and resource whose main goal is to provide high quality information on the latest trends as well as aid with the development of our readers personal style. We view ourselves as partners with our readers along the quest for discovery of a unique personal style.
</p> 