<p id="like"> <b>Post to: </b><a id="fbsharepost" href="#">Facebook</a> | <a id="twittersharepost"href="#">Twitter</a> | <a id ="googlesharepost" href="#">Google +</a></p>
<!--have javascript make links open in popup window-->