// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entry{
	margin: 0 0 40px 0;
	border-bottom: 1px solid black;
}

.entry_text {
	padding: 10px 0 0 0 ;
}


#searchIcon {
float:right;
position:relative;
top: 2px;
}


#q_title_cont{
display: inline-block;
width: 150px;
float: right;
padding: 0;
margin-bottom: 5px;
height: 15px;
border :none;
border-bottom: 1px dotted black;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
outline: none;
box-shadow:none;
display: none;
direction:rtl
}

.post_date{
	float:right;
}
.postAuthor h3{
	padding: 0;
	padding-top: 10px;
	margin: 0;
	line-height: 20px;
}
.postAuthor p{

}

.userLink {
	color: #333333;
}