<p id="like"> <b>Post to: </b><a id="fbshare"  href="<%=posts_url(post)%>">Facebook</a> | <a id="twittershare"href="<%=posts_url(post)%>">Twitter</a> | <a id ="googleshare" href="<%=posts_url(post)%>">Google +</a></p>
<!--have javascript make links open in popup window-->